<script async src="/js/index.js"></script>
<footer class="footer sticky-bottom mt-auto bg-dark w-100 text-center p-2">
    <div class="container">
      <span class="text-light">Copyright &copy; 2021, Yuvraj Pawar</span>
    </div>
  </footer>
</body>
</html>