<form action="/customers/<%=customerData.accNo%>/transferFunds" method="post">
  <div
    class="modal fade"
    id="transferBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="staticBackdropLabel">
            Transfer Funds to:
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="amount" class="fw-bold">Beneficiary Account:</label>
            <select class="form-select mt-2" name="transferTo">


<%if(allCustomers.length>0){%>
              <% allCustomers.forEach(customer => { %> 
              <option value="<%=customer.accNo%>"><%=customer.name%></option>
              <% }) %>
              <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="amount" class="fw-bold mt-3">Enter Amount:</label>
            <input
              type="number"
              name="amount"
              class="form-control mt-2"
              placeholder="Amount in INR"
              required
            />

      
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary " data-bs-dismiss="modal">
            Cancel
          </button>
          <div class="form-group">
            <input
              type="submit"
              name="submit"
              class="btn btn-md btn-danger"
              value="Transfer Funds"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
